<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accelerometer Website</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div id="username-box">
            <h2>Enter Your Username</h2>
            <form id="username-form">
                <label for="username">Username:</label>
                <input type="text" id="username-input" name="username-input" required>
                <button type="submit" id="username-form-btn" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <button id="connection-btn" class="btn btn-primary">Click me</button>
        <canvas id="myChart" width="500" height="250"></canvas>
    </div>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Chart.js JS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Custom -->
    <script src="static/js/index.js"></script>
    <script src="static/js/accel_chart.js"></script>
</body>
</html>
